*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiwi Maru', serif;
}
::-webkit-scrollbar{
    width: 0.5em;
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb{
    background: #006536;
}
.box-fixed{
    width: 2em;
    height: 8em;
    background: #006536;
    position: fixed;
    left: 0;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.buttonUp{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.buttonUp i{
    font-size: 30px;
    color: #FA8072;
}
.buttonUp i:hover{
    cursor: pointer;
}
.box-fixed > i:hover{
    background: #FFFFFF;
    cursor: pointer;
}
.first-color{
    color: #000000;
}
.scond-color{
    color: #FFFFFF;
}
.bg-first-color{
    background: #FA8072;
}
.bg-second-color{
    background: #FAEEFF;
}
.bg-third-color{
    background: #1F2A4F;
}
#navbar a:hover{
    color: #FFFFFF;
}
#navbar a.active{
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.navbar-brand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar-brand img{
    width: 40px;
}
.navbar-brand span{
    font-weight: 500;
    font-size: 1em;
    margin-left: 0.5em;
}
#navbar-items .navbar-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.nav-item{
    margin-right: 1.3em;
}
.slider{
    margin-top: 7em;
    margin-bottom: 1em;
}
.slider .carousel-caption h5{
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
}
.slider .carousel-caption p{
    text-shadow: #000 2px 2px;
}
@media(min-width: 768px){
    .slider .carousel-caption{
        background: #000;
        opacity: 0.7;
        bottom: 8em;
        padding: 0;
        width: 40%;
        margin: 0 auto;
        border-radius: 10px;
    }
}
.title{
    font-weight: 500;
    text-align: center;
    padding: 1em 0;
}
.sec2{
    background: #FAEEFF;
    padding: 0 0 2em 0;
}
dt{
    margin: 0;
    padding: 2px 0 0 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 96px;
    z-index: 999;
}
.box{
    position: relative;
}
.box-cardapio{
    /* position: relative; */
    width: 100%;
    height: 80vh;
    overflow: auto;
    border: 1px solid #FA8072;
    border-radius: 5px;
}
.nav-tabs{
    display: flex;
    flex-direction: column;
}
.div-pai h4{
    font-weight: 500;
    margin: 50px 0;
    text-align: center;
}
.campo-de-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}
.menu-cardapio{
    background: #FA8072;
}
.sec3{
    background: #1F2A4F;
    color: #FFFFFF;
    padding: 0 0 2em 0;
}
.local{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 2em;
    margin: 5em 0;
    text-align: center;
    background: #FAEEFF;
}
.sobre{
    width: 100%;
    margin: 5em auto;
    /* padding: 0.1em; */
    width: 50%;
    text-align: justify;
}
.redes-sociais{
    padding-top: 1em ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer{
    color: #FFFFFF;
    padding: 2em 0;
    background: #87243C;
    
}
.developer{
    margin-top: 1em 0 0 0;
    text-align: center;
}
.colum{
    margin: 2em 0;
}
